<div class="login d-flex justify-content-center align-items-center m-auto">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 p-0 position-relative">
        <div class="overlay"></div>
        <img
          src="../../assets/desola-lanre-ologun-zYgV-NGZtlA-unsplash.jpg"
          alt="login img"
        />
      </div>
      <div class="col-md-6">
        <div
          class="h-100 d-flex align-items-center justify-content-center w-100"
        >
          <div class="box w-75 my-5">
            <h2 class="my-3">Register</h2>
            <form [formGroup]="userForm" (ngSubmit)="createForm()">
              <div class="w-100">
                <label class="my-2">Name :</label>
                <input
                  formControlName="username"
                  type="text"
                  placeholder="name...."
                  class="form-control"
                />
                <div
                  class="alert alert-danger"
                  *ngIf="
                    userForm.get('username')?.errors &&
                    userForm.get('username')?.touched
                  "
                >
                  <p
                    class="m-0"
                    *ngIf="userForm.get('username')?.getError('required')"
                  >
                    email is required
                  </p>
                </div>
              </div>
              <div class="w-100">
                <label class="my-2">Email :</label>
                <input
                  formControlName="email"
                  type="email"
                  placeholder="email...."
                  class="form-control"
                />
                <div
                  class="alert alert-danger"
                  *ngIf="
                    userForm.get('email')?.errors &&
                    userForm.get('email')?.touched
                  "
                >
                  <p
                    class="m-0"
                    *ngIf="userForm.get('email')?.getError('required')"
                  >
                    email is required
                  </p>
                  <p
                    class="m-0"
                    *ngIf="userForm.get('email')?.getError('email')"
                  >
                    This is not email
                  </p>
                </div>
              </div>
              <div class="w-100">
                <label class="my-2">Password :</label>
                <input
                  formControlName="password"
                  type="password"
                  placeholder="password...."
                  class="form-control"
                />
                <div
                  class="alert alert-danger"
                  *ngIf="
                    userForm.get('password')?.errors &&
                    userForm.get('password')?.touched
                  "
                >
                  <p
                    class="m-0"
                    *ngIf="userForm.get('password')?.getError('required')"
                  >
                    password is required
                  </p>
                  <p
                    class="m-0"
                    *ngIf="userForm.get('password')?.getError('minlength')"
                  >
                    The password must be at least 5 characters long
                  </p>
                  <p
                    class="m-0"
                    *ngIf="userForm.get('password')?.getError('maxlength')"
                  >
                    The password must be at most 10 characters long
                  </p>
                </div>
              </div>
              <div class="w-100">
                <label class="my-2">Confirm Password :</label>
                <input
                  formControlName="confirmPassword"
                  type="password"
                  placeholder="Confirm password...."
                  class="form-control"
                />
                <div
                  class="alert alert-danger"
                  *ngIf="
                    userForm.get('confirmPassword')?.errors &&
                    userForm.get('confirmPassword')?.touched
                  "
                >
                  <p
                    class="m-0"
                    *ngIf="
                      userForm.get('confirmPassword')?.getError('required')
                    "
                  >
                    confirm password is required
                  </p>
                  <p
                    class="m-0"
                    *ngIf="
                      userForm
                        .get('confirmPassword')
                        ?.getError('confirmPasswordMatch')
                    "
                  >
                    confirmPassword not matched
                  </p>
                </div>
              </div>
              <button
                [disabled]="userForm.invalid"
                type="submit"
                class="btn text-white py-1 mt-3 mx-auto d-block"
              >
                <span *ngIf="!sendLoad"> Create </span>
                <span *ngIf="sendLoad">
                  <i class="fa-solid fa-spinner fa-spin"></i>
                </span>
              </button>
            </form>
            <div class="d-flex justify-content-center">
              <a class="py-1 mt-3 btn createAdmin" routerLink="/login">Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
