<div class="container-md py-5 dir">
  <div class="my-5">
    <table class="w-100" dir="ltr">
      <thead class="bg-danger">
        <th class="text-center roundedLeft">No.</th>
        <th class="text-center">{{ "user.name" | translate }}</th>
        <th class="text-center">{{'user.email'|translate}}</th>
        <th class="text-center w-25">{{'user.taskAssigned'|translate}}</th>
        <th class="text-center roundedRight">{{'allTasks.edit'|translate}}</th>
      </thead>
      <tbody>
        <tr
          class="text-center border-bottom"
          *ngFor="let data of dataSource
          | paginate
          : {
              id: 'tasks',
              itemsPerPage: 6,
              currentPage: page,
              totalItems: total
            };let i =index"
        >
          <td>{{i+1}}</td>
          <td>{{data?.username}}</td>
          <td>{{data?.email}}</td>
          <td>{{data?.assignedTasks}}</td>
          <td>
            <button (click)="deleteUser(data._id, i)" class="btn bg-warning d-block mx-auto">
              {{'allTasks.delete'|translate}}
            </button>
            <button (click)="changeUserStatus(data.status , data._id,i)" class="btn bg-primary d-block mx-auto mt-1" *ngIf="data.status=='Active'">
              {{'user.In-Active'|translate}}
            </button>
            <button (click)="changeUserStatus(data.status , data._id,i)" class="btn bg-success d-block mx-auto mt-1" *ngIf="data.status!=='Active'">
              {{'user.Active'|translate}}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
      <pagination-controls
        (pageChange)="changePage($event)"
        id="tasks"
      ></pagination-controls>
    </div>
  </div>
</div>
