<nav dir="ltr" class="navbar navbar-expand-lg bg-body-tertiary" *ngIf="showNav">
  <div class="container-md">
    <a class="navbar-brand pointer text-warning">{{
      "nav.tasks" | translate
    }}</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active text-white"
            aria-current="page"
            routerLinkActive="aActive"
            routerLink="/tasks"
            >{{ "nav.allTasks" | translate }}</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white"
            routerLinkActive="aActive"
            routerLink="/users"
            >{{ "nav.users" | translate }}</a
          >
        </li>
      </ul>
      <button class="btn d-block ms-auto text-white fw-bold" (click)="logout()">
        {{ "nav.logOut" | translate }}
      </button>
      <button class="btn d-block my-2 mx-2 text-white fw-bold" (click)="changeLanguage()">
        {{lang == "en" ? "عربي" : "English"}}
      </button>
    </div>
  </div>
</nav>
