<div class="container-md my-4 dir">
  <div class="w-75 mx-auto">
    <img [src]="'https://crud-7q3c.onrender.com/'+taskDetails.image" alt="img task" class="w-100">
  </div>
  <div class="d-flex justify-content-between align-items-baseline my-3">
    <h1 class="text-muted">{{taskDetails?.title}}</h1>
    <button mat-raised-button color="warn" *ngIf="showBtnComplete" (click)="complete(taskDetails._id)">{{'details.Complete'|translate}}</button>
  </div>
  <div>
    <div class="d-flex justify-content-between align-items-baseline my-3">
    <p class="mb-2 text-muted">{{'details.Dead-LineDate'|translate}} : {{taskDetails?.deadline}}</p>
    <p class="mb-2 text-muted">{{'details.Status'|translate}} : {{taskDetails?.status}}</p>
    </div>
    <hr>
    <p class="">{{taskDetails?.description}}</p>
  </div>
</div>
